body{
    background-image: url("c.jpg");
    
}
body background-images{

}
#title{
    color: red;
}

#btn{
    background-color: yellow;
    color:black;
}
h1{
    color: lawngreen;
}
h2{
    color: yellowgreen;
}